# Angular + SpingBoot
19_AzureFunctions/DemoApplication/.classpath
19_AzureFunctions/DemoApplication/.settings/
19_AzureFunctions/DemoApplication/.gradle/
19_AzureFunctions/DemoApplication/bin/
19_AzureFunctions/DemoApplication/src/main/angular/demoapp/node_modules/
19_AzureFunctions/DemoApplication/src/main/resources/static/

# Azure Functions
19_AzureFunctions/DemoAzureFunctions/.settings/
19_AzureFunctions/DemoAzureFunctions/.vscode/
19_AzureFunctions/DemoAzureFunctions/target/
19_AzureFunctions/DemoAzureFunctions/.classpath

# Line Messaging API sample
20_LineMessagingAPISample/.classpath
20_LineMessagingAPISample/.settings/
20_LineMessagingAPISample/.gradle/
20_LineMessagingAPISample/bin/

# Line Chatbot sample
21_LineChatBotSample/.classpath
21_LineChatBotSample/.settings/
21_LineChatBotSample/target/

# Line Chatbot sample2
22_LineChatBotQRSamplex/.classpath
22_LineChatBotQRSamplex/.settings/
22_LineChatBotQRSamplex/target/

# Amazon Lex sample
24_AmazonLexSample/LexChatBotSample/.classpath
24_AmazonLexSample/LexChatBotSample/.settings/
24_AmazonLexSample/LexChatBotSample/target/
24_AmazonLexSample/LexBotSample/LexBotSample/bin/
24_AmazonLexSample/LexBotSample/LexBotSample/obj/

# Nadeshiko sample
25_Nadeshiko/LexChatBotSample/.classpath
25_Nadeshiko/LexChatBotSample/.settings/
25_Nadeshiko/LexChatBotSample/target/

# Memcached sample
26_Memcached/MemcachedFormApp/.vs/

# LambdaDocker
27_LambdaDocker/TranslateSentence/.settings/
27_LambdaDocker/TranslateSentence/.gradle/
27_LambdaDocker/TranslateSentence/lib/.settings/
27_LambdaDocker/TranslateSentence/lib/.gradle/
27_LambdaDocker/TranslateSentence/lib/bin/
27_LambdaDocker/TranslateSentence/lib/build/
27_LambdaDocker/TranslateSentence/lib/.classpath
