# Angular + SpingBoot
19_AzureFunctions/DemoApplication/.classpath
19_AzureFunctions/DemoApplication/.settings/
19_AzureFunctions/DemoApplication/.gradle/
19_AzureFunctions/DemoApplication/bin/
19_AzureFunctions/DemoApplication/src/main/angular/demoapp/node_modules/
19_AzureFunctions/DemoApplication/src/main/resources/static/

# Azure Functions
19_AzureFunctions/DemoAzureFunctions/.settings/
19_AzureFunctions/DemoAzureFunctions/.vscode/
19_AzureFunctions/DemoAzureFunctions/target/
19_AzureFunctions/DemoAzureFunctions/.classpath

# Line Messaging API sample
20_LineMessagingAPISample/.classpath
20_LineMessagingAPISample/.settings/
20_LineMessagingAPISample/.gradle/
20_LineMessagingAPISample/bin/

# Line Chatbot sample
21_LineChatBotSample/.classpath
21_LineChatBotSample/.settings/
21_LineChatBotSample/target/